.DS_Store
ToolSources/CEPSparkerConfig/Builds*
ToolSources/CEPSparkerConfig/*.xojo_uistate
ToolSources/CEPSparkerConfig/CEPSparkerConfig.debug.app
/build
/debug
/css
/CSXS
/html
/js
/jsx
/js_jsx
/shared_js_jsx
/LocalLinks
/BuildSettings
devtools/ZXPSignCmd
devtools/ZXPSignCmd.dmg
devtools/ZXPSignCmd.exe
.rnd
SampleImageServer/
