.DS_Store
/build
/debug
/css
/CSXS
/html
/js
/jsx
/js_jsx
/node_modules
/shared_js_jsx
/LocalLinks
/BuildSettings
/SampleImageServer
/VSCode
/devtools/ZXPSignCmd
/devtools/ZXPSignCmd.dmg
/devtools/ZXPSignCmd-64.dmg
/devtools/ZXPSignCmd.exe
/devtools/signingtoolkit
/.rnd
/devtools/.rnd
